### ref vs test:  matching and unmatching fuction
function that takes test and ref dataframes with the same size and the same columns, and sortint the test lines to
lines that identical to at list 1 of the ref lines and lines that isn't.

In [350]:
##ref vs test_function
matching_fun<- function(test, ref){
    #generate id
    cols<-colnames(test)
    test$id2 <-apply( test[ , cols ],1 , paste, collapse = "-" )
    ref$id2 <- apply( ref[ , cols ],1 , paste, collapse = "-"  )
    
    
    #match and unmatch
    for_un_match<-merge(test,ref, by = "id2",all.x = TRUE)
    un_match<-is.na(for_un_match[,length(for_un_match)])
    
    match_df<-test[!un_match,colnames(test)!="id2"]
    unmatch_df<-test[un_match,colnames(test)!="id2"]

    res<-list("match"= match_df,"unmatch"= unmatch_df )
    
    return(res)
 
}

In [351]:
#test
n = c(2, 3, 5) 
s = c("aa", "bb", "cc") 
b = c(TRUE, FALSE, TRUE) 
test = data.frame(n, s, b)
test
#ref
n = c(2, 3, 4) 
s = c("aa", "bb", "ww") 
b = c(TRUE, FALSE, TRUE) 
ref = data.frame(n, s, b) 
ref

  n s  b
1 2 aa  TRUE
2 3 bb FALSE
3 5 cc  TRUE

  n s  b
1 2 aa  TRUE
2 3 bb FALSE
3 4 ww  TRUE

In [352]:
results<-matching_fun(test, ref)
results

$match
  n  s     b
1 2 aa  TRUE
2 3 bb FALSE

$unmatch
  n  s    b
3 5 cc TRUE

In [353]:
results$match

  n s  b
1 2 aa  TRUE
2 3 bb FALSE