In [1]:
if(!require(dplyr)){install.packages("dplyr"); require(dplyr)}

Loading required package: dplyr

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [45]:
n = c(2, 3, 5) 
s = c("aa", "bb", "cc") 
b = c(TRUE, FALSE, TRUE) 
test = data.frame(n, s, b)

In [63]:
test

  n s  b
1 2 aa  TRUE
2 3 bb FALSE
3 5 cc  TRUE

In [93]:
test$s<-as.factor(test$s)
ref$s<-as.factor(ref$s)

In [94]:
test$s-ref$s

Warning message in Ops.factor(test$s, ref$s):
"'-' not meaningful for factors"

[1] NA NA NA

In [65]:
n = c(2, 3, 4) 
s = c("aa", "bb", "ww") 
b = c(TRUE, FALSE, TRUE) 
ref = data.frame(n, s, b) 
ref

  n s  b
1 2 aa  TRUE
2 3 bb FALSE
3 4 ww  TRUE

In [69]:
summary(ref)

       n        s         b
 Min.   :2.0   aa:1   Mode :logical
 1st Qu.:2.5   bb:1   FALSE:1
 Median :3.0   ww:1   TRUE :2
 Mean   :3.0
 3rd Qu.:3.5
 Max.   :4.0

In [76]:
summary(ref)

       n        s         b
 Min.   :2.0   aa:1   Mode :logical
 1st Qu.:2.5   bb:1   FALSE:1
 Median :3.0   ww:1   TRUE :2
 Mean   :3.0
 3rd Qu.:3.5
 Max.   :4.0

ERROR: Error in Ops.factor(left, right): level sets of factors are different

In [54]:

identical(ref, test)

[1] FALSE

In [ ]:
lapply(X =test, FUN =   )

[1] 3

In [99]:
length(test)

[1] 5

In [109]:
for (i in length(test[,1])) {
test$id2<-paste(test[,1],test[,2],test[,3]  ) }
test$id2
for (i in length(ref[,1])) {
ref$id2<-paste(ref[,1],ref[,2],ref[,3]  ) }
ref$id2

[1] "2 aa TRUE"  "3 bb FALSE" "5 cc TRUE"

[1] "2 aa TRUE"  "3 bb FALSE" "4 ww TRUE"

In [111]:
test

  n s  b     id         id2
1 2 aa  TRUE 2 aa TRUE  2 aa TRUE
2 3 bb FALSE 3 bb FALSE 3 bb FALSE
3 5 cc  TRUE 5 cc TRUE  5 cc TRUE

In [80]:
test$id<-paste(test$n,test$s,test$b  )
ref$id<-paste(ref$n,ref$s,ref$b  )

In [112]:
for_un_match<-test %>% left_join(ref, by = "id2")
for_un_match
un_match<-is.na(for_un_match$n.y)
un_match
test[un_match]
test[un_match,]

  n.x s.x b.x   id.x       id2        n.y s.y b.y   id.y
1 2   aa   TRUE 2 aa TRUE  2 aa TRUE   2  aa   TRUE 2 aa TRUE
2 3   bb  FALSE 3 bb FALSE 3 bb FALSE  3  bb  FALSE 3 bb FALSE
3 5   cc   TRUE 5 cc TRUE  5 cc TRUE  NA  NA     NA NA

[1] FALSE FALSE  TRUE

  b
1  TRUE
2 FALSE
3  TRUE

  n s  b    id        id2
3 5 cc TRUE 5 cc TRUE 5 cc TRUE

In [59]:
ref== test

ERROR: Error in Ops.factor(left, right): level sets of factors are different

In [23]:
df<- data.frame(ref,test)

In [24]:
df

  n s  b     n.1 s.1 b.1
1 2 aa  TRUE 2   aa   TRUE
2 3 bb FALSE 3   bb  FALSE
3 4 ww  TRUE 5   cc   TRUE

Warning message in Ops.factor(ref$n, ref$s):
"'&' not meaningful for factors"

In [31]:
ref$all

[1] NA NA NA

In [ ]:
lenth()

In [58]:
a<-test %>% left_join(ref,by =c("n") )
a

  n s.x b.x   s.y b.y
1 2 aa   TRUE aa   TRUE
2 3 bb  FALSE bb  FALSE
3 5 cc   TRUE NA     NA

In [ ]:
ref<-read.csv("")
test<-read.csv("")

In [ ]:
ref.join

In [ ]:
in %>%